<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${objectName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
    <h1><span th:text=${objectName}></span>s</h1>

    <h2>List of all <span th:text="${objectName}"></span>s</h2>
    <ul>
        <li th:each="obj: ${objects}">
            <span th:text="${obj.id}"></span>
            <span th:text="${obj.name}"></span>
        </li>
    </ul>

    <h2>Add/remove <span th:text="${objectName}"></span>s</h2>
    <form method="POST" th:action="${postAction}">
        <span>Name:</span><br />
        <input type="text" name="name" /><br />
        <input type="submit" value="Add" /><br />
    </form>
    <form method="POST" th:action="${deleteAction}">
        <span>ID:</span><br />
        <select name="id">
            <option value="">Select <span th:text="${objectName}"></span> to remove</option>
            <option th:each="obj : ${objects}" th:value="${obj.id}" th:text="${obj.name}"></option>
        </select><br />
        <input type="submit" value="Remove" /><br />
    </form>
</body>

</html>