<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Question List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>
    <h1>Questions</h1>

    <h2>List of all questions</h2>

    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Course</th>
            <th>Topic</th>
            <th>Question</th>
            <th>Controls</th>
        </tr>
        <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td>
                <a th:href="${question.course.infoUrl}" th:text="${question.course.name}">Course</a>
            </td>
            <td>
                <a th:href="${question.topic.infoUrl}" th:text="${question.topic.name}">Topic</a>
            </td>
            <td> <a th:href="${question.infoUrl}" th:text="${question.question}">WHAT?</a></td>
            <td>
                <form method="POST" th:action="${question.deleteUrl}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        <tr>
            <form method="POST" action="/questions">
                <td>Add new</td>
                <td>
                    <select name="course_id">
                        <option value="">Select Course</option>
                        <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
                    </select>
                </td>
                <td>
                    <select name="topic_id">
                        <option value="">Select Topic</option>
                        <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                    </select>
                </td>
                <td>
                    <input type="text" name="question" />
                </td>
                <td>
                    <input type="submit" value="Add" />
                </td>
            </form>
        </tr>
    </table>
</body>

</html>