<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Topic List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/styles/main.css" th:href="'/styles/main.css'" />
</head>

<body>
    <h1>Topics</h1>
    <nav>
        <a href="/courses">Courses</a>
        <a href="/questions">All Questions</a>
    </nav>

    <h2>List of all topics</h2>

    <table class="listing">
        <tr>
            <th class="id-column">ID</th>
            <th class="text-column">Name</th>
            <th class="control-column">Controls</th>
        </tr>
        <tr th:each="topic : ${topics}">
            <td class="id-column" th:text="${topic.id}"></td>
            <td class="text-column">
                <a th:href="${topic.infoUrl}" th:text="${topic.name}">Topic</a>
            </td>
            <td class="control-column">
                <form method="POST" th:action="${topic.deleteUrl}">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
        <tr>
            <form method="POST" action="/topics">
                <td class="id-column">Add</td>
                <td class="text-column">
                    <input type="text" name="name" />
                </td>
                <td class="control-column">
                    <input type="submit" value="Add" />
                </td>
            </form>
        </tr>
    </table>
</body>

</html>